# Node modules
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
yarn.lock

# Angular build output
dist/
out-tsc/
coverage/
tmp/
temp/

# Angular CLI
.angular/
.angular/cache/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Environment files
src/environments/*.ts

# Optional: Log files
*.log
