#billing-toggle-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 320px;
}
#billing-glider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 9999px;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}
#billing-toggle-container button {
    z-index: 20;
    transition: color 0.3s ease-in-out;
}
.gradient-btn {
    background-image: linear-gradient(to right, #3b82f6, #60a5fa);
}

